@import 'nib'

*, *:before, *:after
  box-sizing: border-box

body
  margin: 0
  padding: 30px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

header
  background-color: PapayaWhip
  height: 70px
  left: 0
  padding: 0 20px
  position: absolute
  right: 0
  top: 0
  h1, h2
    float: left
    padding: 0 10px
    vertical-align: center
  h1
    color: FireBrick
  h2
    margin-top: 23px

.cams
  background-color: MistyRose
  position: absolute
  top: 70px
  left: 0
  width: 400px
  bottom: 0

  .remote, .local
    display: block
    border: 1px solid red
    width: 400px

.chat
  position: absolute
  left: 400px
  top: 70px
  bottom: 0
  right: 0

  .history
    background-color: Ivory
    padding: 10px
    height: 100%

    .local, .remote
      font-size: 18px
      margin: 10px
      &:before
        font-weight: bold

    .remote:before
      content: 'Stranger: '
      color: Tomato
    .local:before
      content: 'Me: '
      color: RoyalBlue

  .controls
    position: absolute
    left: 0
    bottom: 0
    right: 0
    background-color: PapayaWhip
    height: 75px
    padding: 15px

    .text input, .send, .next
      height: 45px
      padding: 5px
      font-size: 18px
    .text input
      width: 60%
      float: left
    .send
      width: 18%
      float: right
    .next
      width: 18%
      float: right
