*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

header {
  background-color: PapayaWhip;
  height: 70px;
  left: 0;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
}
header h1,
header h2 {
  float: left;
  padding: 0 10px;
  vertical-align: center;
}
header h1 {
  color: FireBrick;
}
header h2 {
  margin-top: 23px;
}
header .online {
  float: right;
}

.cams {
  background-color: MistyRose;
  position: absolute;
  top: 70px;
  left: 0;
  width: 400px;
  bottom: 0;
}
.cams .remote,
.cams .local {
  display: block;
  width: 400px;
}

.chat {
  position: absolute;
  left: 400px;
  top: 70px;
  bottom: 0;
  right: 0;
}

.history {
  background-color: Ivory;
  padding: 10px;
  height: 100%;
  font-size: 18px;
}
.history * {
  margin: 10px;
}
.history .remote:before {
  content: 'Stranger: ';
  color: Tomato;
  font-weight: bold;
}
.history .local:before {
  content: 'Me: ';
  color: RoyalBlue;
  font-weight: bold;
}
.history .status {
  font-style: italic;
}

.controls {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: PapayaWhip;
  height: 75px;
  padding: 15px;
}
.controls .text input,
.controls .send,
.controls .next {
  height: 45px;
  padding: 5px;
  font-size: 18px;
}
.controls .text input {
  width: 60%;
  float: left;
}
.controls button {
  width: 18.5%;
  float: left;
  margin-left: 1%;
}
